@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.concept {
  width: 1996px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-1996 {
    width: apxm(1996px);
  }

  @include media-375 {
    width: 100%;
    padding-top: apxm(180px);
  }
}

.container {
  width: 1084px;
  display: flex;
  justify-content: center;
  gap: 216px;
  position: relative;
  top: -79px;

  @include media-1996 {
    width: apxm(1084px);
    gap: apxm(216px);
    top: apxm(-79px);
  }

  @include media-1280 {
    width: apxm(1084px);
    top: apxm(-75px);
    gap: apxm(216px);
  }

  @include media-375 {
    top: 0;
    flex-direction: column;
  }
}

.letterA {
  width: 182px;
  height: 300px;
  position: absolute;
  left: 548px;
  top: 180px;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;

  @include media-1996 {
    width: apxm(182px);
    height: apxm(300px);
    left: apxm(548px);
    top: apxm(180px);
  }

  @include media-1280 {
    width: apxm(182px);
    height: apxm(300px);
    left: apxm(550px);
    top: apxm(160px);
  }

  @include media-375 {
    display: none;
  }
}

.video {
  width: 216px;
  height: 449px;
  position: relative;
  top: -45px;
  z-index: 5;
  user-select: none;
  pointer-events: none;

  @include media-1996 {
    width: apxm(216px);
    height: apxm(449px);
    top: apxm(-45px);
  }

  @include media-1280 {
    width: apxm(214px);
    height: apxm(421px);
    top: apxm(-35px);
    left: apxm(-3px);
  }

  @include media-375 {
    position: absolute;
    width: apxm(156px);
    height: apxm(319px);
    left: apxm(190px);
    top: apxm(-153px);
  }
}

.info {
  width: 432px;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include media-1996 {
    width: apxm(432px);
    gap: apxm(21px);
  }

  @include media-1280 {
    padding-top: apxm(2px);
    width: apxm(430px);
    gap: apxm(2px);
    z-index: 4;
  }

  @include media-375 {
    width: apxm(315px);
    gap: apxm(15px);
  }
}

.title {
  color: $color-pink;
  @include title;
}

.text {
  @include base-big;
}
