@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.link {
  position: relative;
  margin: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s opacity ease-in;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }

  @media (pointer: coarse) {
    &:hover {
      opacity: 1;
    }
  }

  &:first-of-type .img {
    width: 33px;
    height: 25px;

    @include media-1996 {
      width: apxm(33px);
      height: apxm(25px);
    }

    @include media-1280 {
      width: apxm(33px);
      height: apxm(25px);
    }

    @include media-375 {
      width: apxm(33.18px);
      height: apxm(24.88px);
    }
  }
}

.img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;

  @include media-1996 {
    width: apxm(32px);
    height: apxm(32px);
  }

  @include media-1280 {
    width: apxm(32px);
    height: apxm(32px);
  }

  @include media-375 {
    width: apxm(32px);
    height: apxm(32px);
  }
}
