@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.filter {
  width: 1996px;
  display: flex;
  justify-content: center;

  @include media-1996 {
    width: apxm(1996px);
  }
}

.container {
  position: relative;

  width: 1084px;
  display: flex;
  flex-direction: column;
  gap: 48.05px;

  @include media-1996 {
    width: apxm(1084px);
    gap: apxm(48.05px);
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;

  @include media-1996 {
    gap: apxm(11px);
  }
}

.title {
  margin-left: 540px;

  @include title;

  @include media-1996 {
    margin-left: apxm(540px);
  }
}

.buttonContainer {
  display: flex;
  gap: 15px;
  margin-left: 242px;

  @include media-1996 {
    gap: apxm(15px);
    margin-left: apxm(242px);
  }
}

.content {
  display: flex;
  gap: 248px;

  @include media-1996 {
    gap: apxm(248px);
  }
}

.videoContainer {
  position: relative;
  padding-left: 122px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media-1996 {
    padding-left: apxm(112px);
    gap: apxm(24px);
  }
}

.video {
  width: 443px;
  height: 301px;

  @include media-1996 {
    width: apxm(443px);
    height: apxm(301px);
  }
}

.description {
  margin-left: 5px;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: $text-color-primary;
  width: 260px;

  @include media-1996 {
    font-size: apxm(14px);
    line-height: apxm(18px);
    width: apxm(260px);
    margin-left: apxm(5px);
  }
}

.phone {
  bottom: -202px;
  left: 635px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 14px;

  @include media-1996 {
    width: apxm(120px);
    gap: apxm(14px);
    bottom: apxm(-202px);
    left: apxm(635px);
  }
}

.phoneImage {
  width: 63px;
  height: 134px;

  @include media-1996 {
    width: apxm(63px);
    height: apxm(134px);
  }
}

.link {
  margin-left: 2px;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: $text-color-secondary;

  @include media-1996 {
    margin-left: apxm(2px);
    font-size: apxm(14px);
  }
}

.slider {
  width: 1084px;
  height: 301px;
  display: flex;

  @include media-1996 {
    width: apxm(1084px);
    height: apxm(301px);
  }
}

.sliderContainer {
  position: relative;
  display: flex;
  width: 1084px;
  gap: 40px;

  @include media-1996 {
    width: apxm(1084px);
    gap: apxm(40px);
  }
}

.sliderFirst {
  position: absolute;
  top: 0;
  left: -105px;
  margin: 0;
  padding: 0;
  width: 443px;
  height: 301px;
  display: flex;

  @include media-1996 {
    width: apxm(443px);
    height: apxm(301px);
    left: apxm(-105px);
  }
}

.sliderSecond {
  position: absolute;
  top: -90px;
  right: 115px;
  margin: 0;
  padding: 0;
  width: 176px;
  height: 347px;

  @include media-1996 {
    width: apxm(176px);
    height: apxm(347px);
    top: apxm(-90px);
    right: apxm(115px);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.nextFilter {
  position: absolute;
  right: 180px;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  width: 214px;
  gap: 52px;

  @include media-1996 {
    right: apxm(180px);
    bottom: apxm(14px);
    width: apxm(214px);
    gap: apxm(52px);
  }
}

.nextFilter p {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $text-color-primary;

  @include media-1996 {
    font-size: apxm(10px);
  }
}

.arrow {
  width: 172px;
  height: 29px;

  @include media-1996 {
    width: apxm(172px);
    height: apxm(29px);
  }
}
