@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.filter {
  width: 1996px;
  display: flex;
  justify-content: center;
  position: relative;

  @include media-1996 {
    width: apxm(1996px);
  }

  @include media-1280 {
    margin-top: apxm(50px);
  }

  @include media-375 {
  }
}

.container {
  position: relative;
  width: 1084px;
  display: flex;
  flex-direction: column;
  gap: 48.05px;
  box-sizing: border-box;

  @include media-1996 {
    width: apxm(1084px);
    gap: apxm(48.05px);
  }

  @include media-1280 {
    width: apxm(1084px);
    gap: apxm(31px);
  }

  @include media-375 {
    width: 100%;
    padding-top: apxm(80px);
    padding-left: apxm(27px);
  }

  &:after {
    content: 'Весь фото- и видеоконтент на сайте создан с помощью Mi 10T PRO.';
    position: absolute;
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-pink;
    transform: rotate(270deg);
    text-wrap: nowrap;
    right: 253px;
    top: 280px;

    @include media-1996 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      right: apxm(253px);
      top: apxm(280px);
    }

    @include media-1280 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      left: apxm(391px);
      top: apxm(188px);
    }

    @include media-375 {
      display: none;
    }
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  z-index: 5;

  @include media-1996 {
    gap: apxm(11px);
  }

  @include media-1280 {
    gap: apxm(10px);
  }

  @include media-375 {
    margin-left: apxm(2px);
    gap: apxm(23px);
    z-index: 5;
  }
}

.title {
  margin-left: 540px;

  @include title;

  @include media-1996 {
    margin-left: apxm(540px);
  }

  @include media-1280 {
    margin-left: apxm(542px);
  }

  @include media-375 {
    margin: 0;
    display: flex;
  }

  & span {
    display: none;

    @include media-375 {
      display: block;
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 242px;

  @include media-1996 {
    gap: apxm(15px);
    margin-left: apxm(242px);
  }

  @include media-1280 {
    margin-left: apxm(244px);
    gap: apxm(16px);
  }

  @include media-375 {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: apxm(17px);
  }
}

.content {
  display: flex;
}

.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 122px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  // z-index: 3;

  @include media-1996 {
    padding-left: apxm(112px);
    gap: apxm(24px);
  }

  @include media-1280 {
    padding-left: apxm(120px);
    gap: apxm(132px);
  }

  @include media-375 {
    padding: 0;
  }
}

.description {
  @include base;
  margin-left: 5px;
  width: 260px;

  @include media-1996 {
    width: apxm(260px);
    margin-left: apxm(5px);
  }

  @include media-1280 {
    margin: 0;
    width: apxm(230px);
  }

  @include media-375 {
    display: none;
  }
}

.phone {
  bottom: -202px;
  left: 635px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 14px;

  @include media-1996 {
    width: apxm(120px);
    gap: apxm(14px);
    bottom: apxm(-202px);
    left: apxm(635px);
  }

  @include media-1280 {
    width: apxm(120px);
    gap: apxm(18px);
    bottom: apxm(-209px);
    left: apxm(649px);
  }

  @include media-375 {
    display: none;
  }
}

.phoneImage {
  width: 63px;
  height: 134px;
  user-select: none;
  pointer-events: none;

  @include media-1996 {
    width: apxm(63px);
    height: apxm(134px);
  }

  @include media-1280 {
    width: apxm(63px);
    height: apxm(134px);
  }
}

.link {
  margin-left: 2px;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: $color-pink;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }

  @media (pointer: coarse) {
    &:hover {
      opacity: 1;
    }
  }

  @include media-1996 {
    margin-left: apxm(2px);
    font-size: apxm(14px);
  }

  @include media-1280 {
    margin-left: apxm(2px);
    font-size: apxm(14px);
  }
}

.slider {
  width: 100%;
  height: 301px;
  display: block;
  position: relative;

  @include media-1996 {
    width: 100%;
    height: apxm(301px);
  }

  @include media-375 {
    width: 100%;
    height: apxm(255px);
  }
}

.sliderContainer {
  position: relative;
  display: flex;
  width: 100%;
  opacity: 0;
  visibility: hidden;

  @include media-375 {
    display: block;
  }

  &:nth-child(1) .imageContainer:nth-child(1),
  &:nth-child(2) .imageContainer:nth-child(1),
  &:nth-child(3) .imageContainer:nth-child(1),
  &:nth-child(4) .imageContainer:nth-child(1) {
    width: 443px;
    height: 301px;
    z-index: 3;

    @include media-1996 {
      width: apxm(443px);
      height: apxm(301px);
    }

    @include media-1280 {
      width: apxm(443px);
      height: apxm(301px);
    }

    @include media-375 {
      width: apxm(375px);
      height: apxm(255px);
      left: apxm(-26px);
      top: apxm(-99px);
    }
  }

  &:nth-child(1) .imageContainer:nth-child(2),
  &:nth-child(2) .imageContainer:nth-child(2),
  &:nth-child(3) .imageContainer:nth-child(2),
  &:nth-child(4) .imageContainer:nth-child(2) {
    width: 176px;
    height: 347px;
    left: auto;
    right: 108px;
    top: -90px;
    z-index: 3;
    transition: 0.3s width ease-in;

    @include media-1996 {
      width: apxm(176px);
      height: apxm(347px);
      right: apxm(108px);
      top: apxm(-90px);
      left: auto;
    }

    @include media-1280 {
      width: apxm(168px);
      height: apxm(332px);
      right: apxm(111px);
      top: apxm(-95px);
    }

    @include media-375 {
      width: apxm(136px);
      height: apxm(269px);
      right: apxm(2px);
      top: apxm(116px);
    }

    & .sliderImage {
      object-position: 67%;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .sliderContainer:nth-child(1) .imageContainer:nth-child(2):hover,
  .sliderContainer:nth-child(2) .imageContainer:nth-child(2):hover,
  .sliderContainer:nth-child(3) .imageContainer:nth-child(2):hover {
    z-index: 5;
    width: 468px;

    @include media-1996 {
      width: apxm(468px);
    }

    @include media-1280 {
      width: apxm(440px);
    }
  }
}

.active {
  opacity: 1;
  visibility: visible;
}

.imageContainer {
  position: absolute;
  overflow: hidden;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
}

.currentImage {
  transform: translateX(0);
}

.prevImage {
  transform: translateX(0);
  animation: fromCenterToLeft 0.5s ease-in-out forwards;
  animation-delay: var(--delay);
}

.nextImage {
  transform: translateX(120%);
  animation: fromRightToCenter 0.5s ease-in forwards;
  animation-delay: var(--delay);
}

@keyframes fromCenterToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}

@keyframes fromRightToCenter {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

.nextFilter {
  position: absolute;
  right: 180px;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  width: 214px;
  gap: 52px;
  z-index: 5;

  @include media-1996 {
    right: apxm(70px);
    bottom: apxm(-82px);
    width: apxm(214px);
    gap: apxm(52px);
  }

  @include media-1280 {
    right: apxm(64px);
    bottom: apxm(-171px);
    width: apxm(214px);
    gap: apxm(52px);
  }

  @include media-375 {
    width: apxm(164px);
    bottom: apxm(-216px);
    left: apxm(2px);
    gap: apxm(20px);
  }
}

.nextFilter p {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $color-white;

  @include media-1996 {
    font-size: apxm(10px);
  }

  @include media-1280 {
    font-size: apxm(10px);
  }

  @include media-375 {
    font-size: apxm(10px);
  }
}

.arrow {
  width: 172px;
  height: 29px;
  user-select: none;
  pointer-events: none;

  @include media-1996 {
    width: apxm(172px);
    height: apxm(29px);
  }

  @include media-1280 {
    width: apxm(166px);
    height: apxm(29px);
  }

  @include media-375 {
    width: apxm(164px);
    height: apxm(20px);
  }
}

.backgroundSlider {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-1280 {
    top: apxm(60px);
  }

  @include media-375 {
    display: none;
  }
}

.customText {
  display: none;
  font-size: 280px;
  background: url('@/assets/filter-slider/cyber-back.png');

  @include backgoundWord;

  @include media-1996 {
    font-size: apxm(280px);
  }

  @include media-1280 {
    font-size: apxm(195px);
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    font-size: 205px;

    @include media-1996 {
      font-size: apxm(205px);
    }

    @include media-1280 {
      font-size: apxm(135px);
    }
  }

  &:nth-of-type(2) {
    background: url('@/assets/filter-slider/color-back.png');
    @include backgoundWord;
  }

  &:nth-of-type(3) {
    background: url('@/assets/filter-slider/gold-back.png');
    @include backgoundWord;
  }

  &:nth-of-type(4) {
    background: url('@/assets/filter-slider/ice-back.png');
    @include backgoundWord;
  }
}

.customTextActive {
  display: block;
}

.customText span {
  display: inline-block;
  background: inherit;
  background-clip: text;
  user-select: none;
  pointer-events: none;
}

.blinking {
  animation: chaotic-flicker 0.7s 0.3s infinite alternate-reverse;
  animation-timing-function: cubic-bezier(0.1, 0.7, 0.9, 0.2);
  animation-delay: calc(0.03s * var(--char-index) + calc(0.06s * var(--random-delay)));
}

@keyframes chaotic-flicker {
  0% {
    opacity: 1;
    filter: brightness(1);
  }
  15% {
    opacity: 0.3;
    filter: brightness(0.6);
  }
  30% {
    opacity: 0.8;
    filter: brightness(1.2);
  }
  45% {
    opacity: 0.2;
    filter: brightness(0.3);
  }
  60% {
    opacity: 0.9;
    filter: brightness(1.1);
  }
  75% {
    opacity: 0.4;
    filter: brightness(0.8);
  }
  90% {
    opacity: 0.6;
    filter: brightness(0.5);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
