@use '@/styles/variables.scss' as *;

.header {
  padding: 53px 67px;
  width: 1996px;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: flex-end;
  gap: 70px;
  z-index: 4;
  position: absolute;
  top: 0;

  @include media-1996 {
    padding: apxm(56px) apxm(67px);
    gap: apxm(70px);
    width: apxm(1996px);
  }

  @include media-1280 {
    padding: apxm(56px) apxm(50px);
    gap: apxm(60px);
  }

  @include media-375 {
    width: 100%;
    position: relative;
    background-color: #1c1c1c;
    justify-content: space-between;
    padding: apxm(28px) apxm(23.51px);
  }
}

.logo {
  align-self: flex-end;
  height: 64px;
  display: flex;
  flex-direction: column;
  gap: 9px;

  @include media-1996 {
    height: apxm(64px);
    gap: apxm(9px);
  }

  @include media-1280 {
    height: apxm(64px);
    gap: apxm(9px);
  }

  @include media-375 {
    margin-right: apxm(2px);
    margin-top: apxm(2px);
    align-self: flex-start;
    height: apxm(64px);
    gap: apxm(9px);
  }
}

.icon {
  width: 47px;
  height: 47px;

  @include media-1996 {
    width: apxm(47px);
    height: apxm(47px);
  }

  @include media-1280 {
    width: apxm(47px);
    height: apxm(47px);
  }

  @include media-375 {
    width: apxm(47px);
    height: apxm(47px);
  }
}

.brand {
  width: 47px;
  height: 8px;

  @include media-1996 {
    width: apxm(47px);
    height: apxm(8px);
  }

  @include media-1280 {
    width: apxm(47px);
    height: apxm(8px);
  }

  @include media-375 {
    width: apxm(47px);
    height: apxm(8px);
  }
}

.nav {
  align-self: flex-start;
  margin-top: 17px;
  display: flex;
  gap: 20px;

  @include media-1996 {
    margin-top: apxm(17px);
    gap: apxm(20px);
  }

  @include media-1280 {
    margin-top: apxm(18px);
    gap: apxm(20px);
  }

  @include media-375 {
    flex-direction: column;
    gap: apxm(12px);
  }
}

.link {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: $text-color-primary;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: .4s opacity ease-in;

  &:hover {
    opacity: 0.7;
  }

  @include media-1996 {
    font-size: apxm(16px);
  }

  @include media-1280 {
    font-size: apxm(16px);
  }

  @include media-375 {
    font-size: apxm(14px);
  }
}
