@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.preview {
  display: flex;
  height: 1031px;
  width: 1996px;
  position: relative;

  @include media-1996 {
    height: apxm(1031px);
    width: apxm(1996px);
  }

  @include media-1280 {
    // align-items: center;
    // justify-content: center;
  }

  @include media-375 {
    height: apxm(196.5px);
  }
}

.background {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.video {
  height: 100%;
}

.container {
  margin-left: 565px;
  padding-top: 422px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  z-index: 5;

  @include media-1996 {
    gap: apxm(17px);
    margin-left: apxm(565px);
    padding-top: apxm(422px);
  }

  @include media-1280 {
    gap: apxm(15px);
    margin-top: apxm(285px);
    margin-left: apxm(212px);
    padding: 0;
  }

  &:after {
    content: 'Весь фото- и видеоконтент на сайте создан с помощью Mi 10T PRO.';
    position: absolute;
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-pink;
    transform: rotate(270deg);
    left: 585px;
    top: 9px;

    @include media-1996 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      left: apxm(585px);
      top: apxm(9px);
    }

    @include media-1280 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      left: apxm(336px);
      top: apxm(9px);
    }

    @include media-375 {
      display: none;
    }
  }
}

.logo {
  margin-top: 2px;
  z-index: 2;
  width: 836px;
  height: 57px;
  display: block;
  position: relative;
  user-select: none;
  pointer-events: none;

  @include media-1996 {
    margin-top: apxm(2px);
    width: apxm(836px);
    height: apxm(57px);
  }

  @include media-1280 {
    width: apxm(838px);
    height: apxm(60px);
  }

  @include media-375 {
    display: none;
  }
}

.logoMobile {
  display: none;

  @include media-375 {
    display: block;
    width: apxm(86px);
    height: apxm(125px);
    position: absolute;
    bottom: apxm(-78px);
    left: apxm(144px);
  }
}

.text {
  margin-right: 100px;
  z-index: 2;
  position: relative;
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: $color-white;
  align-self: flex-end;

  span {
    text-transform: lowercase;
  }

  @include media-1996 {
    margin-right: apxm(100px);
    font-size: apxm(13px);
  }

  @include media-1280 {
    max-width: apxm(230px);
    margin-right: apxm(250px);
    font-size: apxm(13px);
  }

  @include media-375 {
    display: none;
  }
}
