@use '@/styles/variables.scss' as *;

.backstage {
  width: 1996px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-1996 {
    width: apxm(1996px);
  }

  @include media-375 {
    width: 100%;
    height: apxm(780px);
  }
}

.container {
  width: 1084px;
  height: 955px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: -138px;

  @include media-1996 {
    height: apxm(955px);
    top: apxm(-138px);
    width: apxm(1084px);
  }

  @include media-1280 {
    width: apxm(1084px);
    top: apxm(-123px);
  }

  @include media-375 {
    width: 100%;
    top: 0;
  }
}

.background {
  width: 1080px;
  height: 855px;
  position: absolute;
  top: 0;
  left: 19px;

  @include media-1996 {
    width: apxm(1080px);
    height: apxm(855px);
    left: apxm(19px);
  }

  @include media-1280 {
    width: apxm(1080px);
    height: apxm(855px);
    left: apxm(26px);
  }

  @include media-375 {
    left: 0;
    // left: apxm(-30px);
    top: apxm(-100px);
    height: apxm(557px);
    width: apxm(375px);
    overflow: hidden;
  }
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @include media-375 {
    width: apxm(560px);
    height: apxm(557px);
  }
}

.description {
  margin-top: 119px;
  margin-left: 113px;
  width: 363px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 3;
  position: absolute;

  @include media-1996 {
    margin-top: apxm(119px);
    margin-left: apxm(113px);
    width: apxm(363px);
    gap: apxm(15px);
  }

  @include media-1280 {
    width: apxm(363px);
    margin-top: apxm(119px);
    margin-left: apxm(120px);
    gap: apxm(16px);
  }

  @include media-375 {
    width: apxm(319px);
    margin: 0;
    left: apxm(27px);
    top: apxm(-214px);
    gap: apxm(10px);
  }
}

.title {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $text-color-primary;

  @include media-1996 {
    font-size: apxm(40px);
  }

  @include media-1280 {
    font-size: apxm(40px);
  }

  @include media-375 {
    font-size: apxm(30px);
  }
}

.text {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: $text-color-primary;

  @include media-1996 {
    font-size: apxm(14px);
    line-height: apxm(18px);
  }

  @include media-1280 {
    font-size: apxm(14px);
    line-height: apxm(18px);
  }

  @include media-375 {
    font-size: apxm(14px);
    line-height: apxm(18px);
  }
}

.buttonContainer {
  position: absolute;
  top: 700px;
  right: 14px;
  z-index: 2;

  @include media-1996 {
    top: apxm(700px);
    right: apxm(14px);
  }

  @include media-1280 {
    top: apxm(700px);
    right: apxm(9px);
  }

  @include media-375 {
    top: apxm(352px);
    right: apxm(30px);
  }
}

.arrow {
  width: 164px;
  height: 29px;

  @include media-1996 {
    width: apxm(164px);
    height: apxm(29px);
  }

  @include media-1280 {
    width: apxm(158px);
    height: apxm(29px);
  }

  @include media-375 {
    width: apxm(158px);
    height: apxm(29px);
  }
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.sliderContainer {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;

  &:nth-child(1) .imageContainer:nth-child(1) {
    width: 636px;
    height: 448px;
    top: 223px;
    left: -29px;

    @include media-1996 {
      width: apxm(636px);
      height: apxm(448px);
      top: apxm(223px);
      left: apxm(-29px);
    }

    @include media-1280 {
      width: apxm(529px);
      height: apxm(372px);
      top: apxm(300px);
      left: apxm(11px);
    }

    @include media-375 {
      width: apxm(375px);
      height: apxm(200px);
      left: 0;
      top: 0;
    }
  }

  &:nth-child(2) .imageContainer:nth-child(1) {
    width: 426px;
    height: 300px;
    top: 334px;

    @include media-1996 {
      width: apxm(426px);
      height: apxm(300px);
      top: apxm(334px);
    }

    @include media-1280 {
      width: apxm(426px);
      height: apxm(300px);
      top: apxm(334px);
    }

    @include media-375 {
      width: apxm(375px);
      height: apxm(200px);
      left: 0;
      top: 0;
    }
  }

  &:nth-child(3) .imageContainer:nth-child(1) {
    width: 533px;
    height: 375px;
    top: 323px;

    @include media-1996 {
      width: apxm(533px);
      height: apxm(375px);
      top: apxm(323px);
    }

    @include media-1280 {
      width: apxm(533px);
      height: apxm(375px);
      top: apxm(323px);
    }

    @include media-375 {
      width: apxm(375px);
      height: apxm(200px);
      left: 0;
      top: 0;
    }
  }

  &:nth-child(4) .imageContainer:nth-child(1) {
    width: 210px;
    height: 393px;
    top: 333px;
    left: 113px;

    @include media-1996 {
      width: apxm(210px);
      height: apxm(393px);
      top: apxm(333px);
      left: apxm(113px);
    }

    @include media-1280 {
      width: apxm(210px);
      height: apxm(393px);
      top: apxm(333px);
      left: apxm(113px);
    }

    @include media-375 {
      width: apxm(375px);
      height: apxm(200px);
      left: 0;
      top: 0;
    }
  }

  &:nth-child(4) .imageContainer:nth-child(2) {
    width: 427px;
    height: 300px;
    top: 334px;
    right: 227px;

    @include media-1996 {
      width: apxm(427px);
      height: apxm(300px);
      top: apxm(334px);
      right: apxm(227px);
    }

    @include media-1280 {
      width: apxm(427px);
      height: apxm(300px);
      top: apxm(334px);
      right: apxm(227px);
    }

    @include media-375 {
      display: none;
    }
  }

  &:nth-child(1) .imageContainer:nth-child(2),
  &:nth-child(2) .imageContainer:nth-child(2),
  &:nth-child(3) .imageContainer:nth-child(2) {
    width: 234px;
    height: 449px;
    right: 220px;
    top: 171px;

    @include media-1996 {
      width: apxm(234px);
      height: apxm(449px);
      right: apxm(220px);
      top: apxm(171px);
    }

    @include media-1280 {
      width: apxm(213px);
      height: apxm(399px);
      right: apxm(222px);
      top: apxm(172px);
    }

    @include media-375 {
      display: none;
    }
  }
}

.imageContainer {
  position: absolute;
  overflow: hidden;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateX(-120%);
}

.active {
  opacity: 1;
  visibility: visible;
}

.currentImage {
  transform: translateX(0);
}

.prevImage {
  animation: fromCenterToLeft 0.8s linear forwards;
  animation-delay: var(--delay);
}

.nextImage {
  animation: fromRightToCenter 0.8s linear forwards;
  animation-delay: var(--delay);
}

@keyframes fromCenterToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}

@keyframes fromRightToCenter {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}
