@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.shop {
  margin-top: 88px;
  padding-bottom: 100px;
  width: 1996px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include media-1996 {
    margin-top: apxm(88px);
    width: apxm(1996px);
    padding-bottom: apxm(100px);
  }

  @include media-1280 {
    width: 100%;
    margin-top: apxm(361px);
    padding-bottom: apxm(100px);
  }

  @include media-375 {
    margin-top: apxm(80px);
    padding-bottom: apxm(100px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 866px;

  @include media-1996 {
    width: apxm(866px);
  }

  @include media-1280 {
    width: apxm(854px);
  }

  @include media-375 {
    width: 100%;
  }
}

.title {
  color: $color-pink;
  @include title;

  @include media-375 {
    margin-left: apxm(32px);
  }
}

.description {
  margin-top: 36px;
  width: 634px;
  @include base;

  @include media-1996 {
    margin-top: apxm(36px);
    width: apxm(634px);
  }

  @include media-1280 {
    margin-top: apxm(35px);
    width: apxm(634px);
  }

  @include media-375 {
    line-height: apxm(20px);
    width: apxm(312px);
    margin-left: apxm(32px);
  }

  span {
    text-decoration: underline;
  }
}

.discount {
  margin-top: 25px;
  width: 604px;
  color: $color-pink;
  @include base;

  @include media-1996 {
    margin-top: apxm(25px);
    width: apxm(604px);
  }

  @include media-1280 {
    margin-top: apxm(25px);
    width: apxm(604px);
  }

  @include media-375 {
    width: apxm(312px);
    margin-left: apxm(32px);
    margin-top: apxm(13px);
  }
}

.buttonContainer {
  margin-top: 45px;
  display: flex;
  gap: 26px;
  z-index: 5;

  @include media-1996 {
    margin-top: apxm(45px);
    gap: apxm(26px);
  }

  @include media-1280 {
    margin-top: apxm(45px);
    gap: apxm(26px);
  }

  @include media-375 {
    margin-top: apxm(29px);
    margin-left: apxm(32px);
    flex-direction: column;
    gap: apxm(16px);
  }
}

.button {
  padding: 27px 0;
  width: 399px;
  background-color: transparent;
  border: 1px solid $color-pink;
  border-radius: 10px;
  font-family: $font-family-primary;
  color: $color-white;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s opacity ease-in;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }

  @media (pointer: coarse) {
    &:hover {
      opacity: 1;
    }
  }

  @include media-1996 {
    padding: apxm(27px) 0;
    width: apxm(399px);
    border-radius: apxm(10px);
    font-size: apxm(15px);
    line-height: apxm(20px);
  }

  @include media-1280 {
    padding: apxm(27px) 0;
    width: apxm(399px);
    border-radius: apxm(10px);
    font-size: apxm(15px);
    line-height: apxm(20px);
  }

  @include media-375 {
    width: apxm(312px);
    padding: apxm(20px) 0;
    border-radius: apxm(10px);
    font-size: apxm(15px);
    line-height: apxm(20px);
  }
}

.button:nth-of-type(2) {
  width: 429px;

  @include media-1996 {
    width: apxm(429px);
  }

  @include media-1280 {
    width: apxm(429px);
  }

  @include media-375 {
    width: apxm(312px);
    padding: apxm(22px) 0;
  }
}

.iconContainer {
  margin-top: 106px;
  margin-left: 5px;
  max-width: 275px;
  gap: 15px;
  display: flex;
  align-items: center;
  z-index: 5;
  flex-wrap: wrap;
  list-style: none;

  @include media-1996 {
    margin-top: apxm(106px);
    margin-left: apxm(5px);
    gap: apxm(15px);
    max-width: apxm(275px);
  }

  @include media-1280 {
    margin-top: apxm(107px);
    margin-left: apxm(5px);
    gap: apxm(16px);
    max-width: apxm(275px);
  }

  @include media-375 {
    width: apxm(312px);
    margin-left: apxm(32px);
    gap: apxm(16px);
    margin-top: apxm(62px);
    max-width: apxm(275px);
  }
}

.copyright {
  margin-top: 45px;
  font-family: $font-family-primary;
  color: $color-white;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;

  @include media-1996 {
    margin-top: apxm(45px);
    font-size: apxm(11px);
    line-height: apxm(18px);
  }

  @include media-1280 {
    margin-top: apxm(45px);
    font-size: apxm(11px);
    line-height: apxm(18px);
  }

  @include media-375 {
    margin-top: apxm(25px);
    margin-left: apxm(32px);
    font-size: apxm(11px);
    line-height: apxm(18px);
    width: apxm(220px);
  }
}
