@use '@/styles/variables.scss' as *;

.shop {
  padding-top: 526px;
  padding-bottom: 210.95px;
  width: 1996px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-1996 {
    width: apxm(1996px);
    padding-top: apxm(526px);
    padding-bottom: apxm(210.95px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 866px;

  @include media-1996 {
    width: apxm(866px);
  }
}

.title {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $text-color-secondary;

  @include media-1996 {
    font-size: apxm(40px);
  }
}

.description {
  margin-top: 36px;
  width: 634px;
  font-family: $font-family-primary;
  color: $text-color-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;

  @include media-1996 {
    margin-top: apxm(36px);
    width: apxm(634px);
    font-size: apxm(14px);
    line-height: apxm(18px);
  }

  span {
    text-decoration: underline;
  }
}

.discount {
  margin-top: 25px;
  width: 604px;
  font-family: $font-family-primary;
  color: $text-color-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;

  @include media-1996 {
    margin-top: apxm(25px);
    width: apxm(604px);
    font-size: apxm(14px);
    line-height: apxm(18px);
  }
}

.buttonContainer {
  margin-top: 45px;
  display: flex;
  gap: 26px;

  @include media-1996 {
    margin-top: apxm(45px);
    gap: apxm(26px);
  }
}

.button {
  padding: 27px 0;
  width: 399px;
  background-color: transparent;
  border: 1px solid $text-color-secondary;
  border-radius: 10px;
  font-family: $font-family-primary;
  color: $text-color-primary;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  @include media-1996 {
    padding: apxm(27px) 0;
    width: apxm(399px);
    border-radius: apxm(10px);
    font-size: apxm(15px);
    line-height: apxm(20px);
  }
}

.button:nth-of-type(2) {
  width: 429px;

  @include media-1996 {
    width: apxm(429px);
  }
}

.iconContainer {
  margin-top: 106px;
  margin-left: 5px;
  gap: 15px;
  display: flex;
  align-items: center;

  @include media-1996 {
    margin-top: apxm(106px);
    margin-left: apxm(5px);
    gap: apxm(15px);
  }
}

.copyright {
  margin-top: 40px;
  font-family: $font-family-primary;
  color: $text-color-primary;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;

  @include media-1996 {
    margin-top: apxm(40px);
    font-size: apxm(11px);
    line-height: apxm(18px);
  }
}
