@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.video {
  width: 1996px;
  object-fit: cover;
  object-position: center;
  user-select: none;

  @include media-1996 {
    width: apxm(1996px);
  }
}
