@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.collection {
  padding-top: 197px;
  padding-bottom: 217px;
  width: 1996px;
  display: flex;
  justify-content: center;

  @include media-1996 {
    width: apxm(1996px);
    padding-top: apxm(197px);
    padding-bottom: apxm(217px);
  }
}

.container {
  position: relative;
  width: 1084px;
  display: flex;

  @include media-1996 {
    width: apxm(1084px);
  }
}

.background {
  position: absolute;
  top: 29px;
  left: 50px;
  width: 853px;
  height: 490px;
  display: none;
  object-fit: cover;
  object-position: center;

  @include media-1996 {
    width: apxm(853px);
    height: apxm(490px);
    top: apxm(29px);
    left: apxm(140px);
  }
}

.active {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 33px;

  @include media-1996 {
    gap: apxm(33px);
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media-1996 {
    gap: apxm(8px);
  }
}

.title {
  margin-left: 111px;

  @include title;

  @include media-1996 {
    margin-left: apxm(111px);
  }
}

.buttonContainer {
  margin-left: 112px;
  display: flex;
  gap: 15px;
  z-index: 2;

  @include media-1996 {
    margin-left: apxm(112px);
    gap: apxm(15px);
  }
}

.mainSwiper {
  position: relative;
  left: -102px;
  top: -1px;
  max-width: 533px;

  @include media-1996 {
    left: apxm(-102px);
    top: apxm(-1px);
    max-width: apxm(533px);
  }
}

.mainSlide {
  // flex-shrink: 0;
  transition: transform 0.3s ease;
  width: 357px !important;
  height: 477px !important;

  @include media-1996 {
    width: apxm(357px) !important;
    height: apxm(477px) !important;
  }

  &:nth-of-type(4) {
    width: 476px !important;
    height: 361px !important;

    @include media-1996 {
      width: apxm(476px) !important;
      height: apxm(361px) !important;
    }
  }

  &:nth-of-type(5) {
    width: 533px !important;
    height: 401px !important;

    @include media-1996 {
      width: apxm(533px) !important;
      height: apxm(401px) !important;
    }
  }
}

.mainSliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sliderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.secondSlider {
  position: absolute;
  right: 14px;
  top: 100px;
  display: none;
  width: 383px;
  height: 288px;
  overflow: hidden;

  @include media-1996 {
    width: apxm(383px);
    height: apxm(288px);
    right: apxm(14px);
    top: apxm(100px);
  }

  &:nth-child(3) {
    width: 262px;
    height: 349px;
    left: 276px;
    top: 175px;

    @include media-1996 {
      width: apxm(262px);
      height: apxm(349px);
      left: apxm(276px);
      top: apxm(175px);
    }
  }

  &:nth-child(4) {
    width: 383px;
    height: 288px;
    left: 250px;
    top: 356px;

    @include media-1996 {
      width: apxm(383px);
      height: apxm(288px);
      left: apxm(250px);
      top: apxm(356px);
    }
  }

  &:nth-child(5) {
    width: 232px;
    height: 310px;
    left: 384px;
    top: 305px;
    z-index: 2;

    @include media-1996 {
      width: apxm(232px);
      height: apxm(310px);
      left: apxm(384px);
      top: apxm(305px);
    }
  }
}

.secondSliderActive {
  display: flex;
}

.secondSliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.secondSliderImage {
  position: absolute;
  transition: transform 0.7s ease-in-out;
}

.slideInFromRight {
  transform: translateX(0);
  animation: slideInFromRight 1s ease-in-out;
}

.slideOutToLeft {
  animation: slideOutToLeft 0.7s ease-in-out;
  transform: translateX(-100%);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}

.nextLook {
  margin-left: 108px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 52px;
  z-index: 2;

  @include media-1996 {
    margin-left: apxm(108px);
    gap: apxm(52px);
  }

  p {
    font-family: $font-family-primary;
    color: $text-color-primary;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
}

.arrow {
  width: 214px;
  height: 29px;

  @include media-1996 {
    width: apxm(214px);
    height: apxm(29px);
  }
}

.description {
  margin-left: 7px;
  margin-top: 448px;
  width: 324px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;

  @include media-1996 {
    margin-left: apxm(7px);
    margin-top: apxm(448px);
    gap: apxm(30px);
    width: apxm(324px);
  }
}

.text {
  font-family: $font-family-secondary;
  color: $text-color-primary;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;

  @include media-1996 {
    font-size: apxm(12px);
    line-height: apxm(20px);
  }
}

.link {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $text-color-secondary;

  @include media-1996 {
    font-size: apxm(17px);
    line-height: apxm(22px);
  }
}

.cap {
  position: absolute;
  width: 175px;
  height: 247px;
  top: 458px;
  left: 434px;
  z-index: 3;

  @include media-1996 {
    width: apxm(175px);
    height: apxm(247px);
    top: apxm(458px);
    left: apxm(434px);
  }
}

.jacket {
  position: absolute;
  width: 158px;
  height: 223px;
  right: 110px;
  top: 118px;
  z-index: 2;

  @include media-1996 {
    width: apxm(158px);
    height: apxm(223px);
    right: apxm(110px);
    top: apxm(118px);
  }
}
