@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $background-color-primary;
  position: relative;
}

:root {
  position: relative;
  // width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
