@use 'sass:math';
@use './variables.scss' as *;

/// Округляет число до 4 знаков после запятой.
/// @param {Number} $val - Число, которое нужно округлить.
/// @return {Number} - Округлённое число с точностью до 4 знаков после запятой.
@function r2f($val) {
  @return math.div(math.round($val * 10000), 10000);
}

/// Преобразует значение из пикселей в `vw` относительно базовой ширины 700px.
/// Результат округляется до 4 знаков после запятой с помощью функции `r2f`.
/// @param {Number} $px - Значение в пикселях, которое нужно преобразовать.
/// @return {Number} - Значение в `vw`, округлённое до 4 знаков после запятой.
@function apx($px) {
  @return r2f(math.div($px, 700px) * 100vw);
}

@function apxm($px) {
  @return r2f(math.div($px, $dbreak) * 100vw);
}

$dbreak: 1920px !default;

@mixin media-1996 {
  @media screen and (max-width: 1996px) {
    $dbreak: 1996px !global;
    @content;
  }
}

@mixin media-1280 {
  @media screen and (max-width: 1280px) {
    $dbreak: 1280px !global;
    @content;
  }
}

@mixin media-375 {
  @media screen and (max-width: 376px) {
    $dbreak: 376px !global;
    @content;
  }
}

@mixin title {
  font-family: $font-family-primary;
  font-weight: $font-weight-base;
  font-size: $font-size-h1;
  text-transform: uppercase;
  // color: $color-pink;

  @include media-1996 {
    font-size: apxm($font-size-h1);
  }

  @include media-1280 {
    font-size: apxm($font-size-h1);
  }

  @include media-375 {
    font-size: apxm($font-size-h1mob);
  }
}

@mixin base-big {
  font-family: $font-family-secondary;
  font-weight: $font-weight-base;
  font-size: $font-size-base-big;
  line-height: $line-height-base-big;
  color: $color-white;

  @include media-1996 {
    font-size: apxm($font-size-base-big);
    line-height: apxm($line-height-base-big);
  }

  @include media-1280 {
    font-size: apxm($font-size-base-big);
    line-height: apxm($line-height-base-big);
  }

  @include media-375 {
    font-size: apxm($font-size-base-big);
    line-height: apxm($line-height-base-big);
  }
}

@mixin base {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $color-white;

  @include media-1996 {
    font-size: apxm($font-size-base);
    line-height: apxm($line-height-base);
  }

  @include media-1280 {
    font-size: apxm($font-size-base);
    line-height: apxm($line-height-base);
  }

  @include media-375 {
    font-size: apxm($font-size-base);
    line-height: apxm($line-height-base);
  }
}

@mixin quote {
  font-family: $font-family-primary;
  font-size: $font-size-quote;
  font-weight: $font-weight-base;
  line-height: $line-height-quote;
  color: $color-pink;
  text-transform: uppercase;

  @include media-1996 {
    font-size: apxm($font-size-quote);
    line-height: apxm($line-height-quote);
  }

  @include media-1280 {
    font-size: apxm($font-size-quote);
    line-height: apxm($line-height-quote);
  }

  @include media-375 {
    font-size: apxm($font-size-quote);
    line-height: apxm($line-height-quote);
  }
}

@mixin hover-effect {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }

  @media (pointer: coarse) {
    &:hover {
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: 2px solid $color-white;
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.98);
  }
}

@mixin button-base {
  background-color: transparent;
  border: none;
  font-family: $font-family-primary;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: $color-white;
  cursor: pointer;
  opacity: 100%;
  transition: 0.3s ease-in-out opacity;
}

@mixin button {
  @include button-base;
  font-size: 18px;

  @include media-1996 {
    font-size: apxm(18px);
  }

  @include media-1280 {
    font-size: apxm(18px);
  }

  @include media-375 {
    font-size: apxm(18px);
  }

  @include hover-effect;
}

@mixin nextButton {
  @include button-base;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: left;

  @include media-1996 {
    font-size: apxm(16px);
    gap: apxm(3px);
  }

  @include media-1280 {
    font-size: apxm(16px);
    gap: apxm(3px);
  }

  @include media-375 {
    font-size: apxm(16px);
    gap: apxm(12px);
  }

  @include hover-effect;
}

@mixin backgoundWord {
  font-weight: 700;
  letter-spacing: -7%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
}
