@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Mono&display=swap');

// colors
$color-white: #fff;
$color-black: #1c1c1c;
$color-violet: #352c5d;
$color-pink: #c35ab8;

// fonts
$font-family-primary: 'PT Mono', monospace;
$font-family-secondary: 'IBM Plex Mono', monospace;

// font sizes
$font-size-base: 14px;
$font-size-quote: 17px;
$font-size-base-big: 12px;
$font-size-h1: 40px;
$font-size-base-mob: 14px;
$font-size-h1mob: 30px;

// font weight
$font-weight-base: 400;
$font-weight-bold: 700;

//line height
$line-height-base: 18px;
$line-height-quote: 22px;
$line-height-base-big: 20px;
$line-height-h1: auto;
$line-height-base-mob: 20px;
$line-height-h1mob: auto;

