@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.hero {
  width: 1996px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-1996 {
    width: apxm(1996px);
  }

  @include media-375 {
    width: 100%;
    height: auto;
  }
}

.figure {
  padding-top: 47.95px;
  width: 1084px;
  height: 687px;
  position: relative;
  top: -87.95px;
  display: flex;
  justify-content: center;
  gap: 115px;

  @include media-1996 {
    width: apxm(1084px);
    height: apxm(687px);
    padding-top: apxm(47.95px);
    top: apxm(-87.95px);
    gap: apxm(115px);
  }

  @include media-1280 {
    width: apxm(1084px);
    height: apxm(687px);
    top: apxm(-83px);
    left: apxm(4px);
    gap: apxm(120px);
  }

  @include media-375 {
    padding-top: apxm(382px);
    top: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    gap: apxm(45px);
  }
}

.background {
  position: absolute;
  inset: 0;
  left: -10px;
  width: 1084px;
  height: 687px;
  z-index: 2;

  @include media-1996 {
    width: apxm(1084px);
    height: apxm(687px);
    left: apxm(-10px);
  }

  @include media-1280 {
    width: apxm(1084px);
    height: apxm(687px);
  }

  @include media-375 {
    display: none;
  }
}

.backgroundMobile {
  display: none;
  position: absolute;
  object-fit: cover;
  object-position: center;

  @include media-375 {
    display: flex;
    width: apxm(339px);
    height: apxm(536px);

    inset: 0;
    top: apxm(732px);
    left: apxm(-8px);
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 216px;
  z-index: 3;
  gap: 30px;

  @include media-1996 {
    width: apxm(218px);
    gap: apxm(30px);
  }

  @include media-1280 {
    margin-top: apxm(15px);
    left: apxm(-11px);
    width: apxm(210px);
    gap: apxm(23px);
  }

  @include media-375 {
    margin: 0 auto;
    width: apxm(262px);
    position: static;
    left: 0;
    align-items: center;
    gap: apxm(40px);

    & .paragraph {
      display: none;
    }
  }
}

.container:first-of-type {
  margin-top: 35px;

  @include media-1996 {
    margin-top: apxm(35px);
  }

  @include media-1280 {
    left: 0;
    margin-top: apxm(53px);
  }

  @include media-375 {
    margin-top: 0;
    width: apxm(316px);
    z-index: 5;
  }

  &:after {
    content: 'Весь фото- и видеоконтент на сайте создан с помощью Mi 10T PRO.';
    position: absolute;
    font-family: $font-family-primary;
    font-weight: $font-weight-base;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-pink;
    transform: rotate(270deg);
    left: 346px;
    top: 540px;
    text-wrap: nowrap;

    @include media-1996 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      left: apxm(346px);
      top: apxm(540px);
    }

    @include media-1280 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      left: apxm(336px);
      top: apxm(540px);
    }

    @include media-375 {
      font-size: apxm(10px);
      line-height: apxm(16px);
      left: apxm(60px);
      top: apxm(-54px);
    }
  }
}

.text {
  @include base-big;
}

.logo {
  width: 148px;
  height: 97px;

  @include media-1996 {
    width: apxm(148px);
    height: apxm(97px);
  }

  @include media-1280 {
    width: apxm(148px);
    height: apxm(97px);
  }

  @include media-375 {
    width: apxm(112px);
    height: apxm(73px);
    margin-right: apxm(15px);
  }
}

.phoneBlock {
  display: flex;
  flex-direction: column;

  @include media-375 {
    width: 100%;
    height: 100%;
  }
}

.phone {
  width: 419.49px;
  height: 656.09px;
  position: absolute;
  top: -161.05px;
  left: 326px;
  z-index: 3;

  @include media-1996 {
    width: apxm(419.49px);
    height: apxm(656.09px);
    top: apxm(-161.05px);
    left: apxm(326px);
  }

  @include media-1280 {
    width: apxm(419.49px);
    height: apxm(656px);
    left: apxm(323px);
    top: apxm(-161px);
  }

  @include media-375 {
    width: apxm(177px);
    height: apxm(276px);
    left: apxm(180px);
    top: apxm(39px);
  }
}

.link {
  margin-top: 356.05px;
  font-family: $font-family-primary;
  color: $color-pink;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 3;

  @include media-1996 {
    margin-top: apxm(356.05px);
    font-size: apxm($font-size-base);
  }

  @include media-1280 {
    margin-top: apxm(375px);
    font-size: apxm($font-size-base);
  }

  @include media-375 {
    margin-top: 0;
    font-size: apxm(11px);
    width: apxm(64px);
    text-align: right;
    position: absolute;
    top: apxm(190px);
    left: apxm(130px);
  }
}

.model {
  width: 416.69px;
  height: 128.99px;
  position: absolute;
  z-index: 4;
  left: 106px;
  top: -87.31px;

  @include media-1996 {
    width: apxm(416.69px);
    height: apxm(128.99px);
    left: apxm(106px);
    top: apxm(-87.31px);
  }

  @include media-1280 {
    width: apxm(416.69px);
    height: apxm(129px);
    top: apxm(-87px);
    left: apxm(110px);
  }

  @include media-375 {
    width: apxm(313px);
    height: apxm(97px);
    top: apxm(245px);
    left: apxm(4px);
  }
}
