@use '../../styles/variables.scss' as *;

.filter {
  width: 1996px;
  display: flex;
  justify-content: center;

  @include media-1996 {
    width: apxm(1996px);
  }
}

.container {
  position: relative;

  width: 1084px;
  display: flex;
  flex-direction: column;
  gap: 48.05px;

  @include media-1996 {
    width: apxm(1084px);
    gap: apxm(48.05px);
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media-1996 {
    gap: apxm(10px);
  }
}

.title {
  margin-left: 549px;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: $text-color-secondary;

  @include media-1996 {
    margin-left: apxm(549px);
    font-size: apxm(40px);
  }
}

.buttonContainer {
  display: flex;
  gap: 15px;
  margin-left: 252px;

  @include media-1996 {
    gap: apxm(15px);
    margin-left: apxm(252px);
  }
}

.button {
  background-color: transparent;
  border: none;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: $text-color-primary;
  cursor: pointer;

  @include media-1996 {
    font-size: apxm(18px);
  }
}

.content {
  display: flex;
  gap: 246px;

  @include media-1996 {
    gap: apxm(246px);
  }
}

.videoContainer {
  padding-left: 122px;
  display: flex;
  flex-direction: column;
  gap: 21.95px;

  @include media-1996 {
    padding-left: apxm(122px);
    gap: apxm(21.95px);
  }
}

.video {
  width: 443px;
  height: 301px;

  @include media-1996 {
    width: apxm(443px);
    height: apxm(301px);
  }
}

.description {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: $text-color-primary;
  width: 260px;

  @include media-1996 {
    font-size: apxm(14px);
    line-height: apxm(18px);
    width: apxm(260px);
  }
}

.nextFilter {
  display: flex;
  flex-direction: column;
  width: 214px;
  align-self: flex-end;
  gap: 52px;

  @include media-1996 {
    width: apxm(214px);
    gap: apxm(52px);
  }
}

.nextFilter p {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $text-color-primary;

  @include media-1996 {
    font-size: apxm(10px);
  }
}

.filterButton {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
}

.filterButton a {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-align: left;
  text-decoration-thickness: 0%;
  color: $text-color-primary;

  @include media-1996 {
    font-size: apxm(16px);
  }
}

.arrow {
  width: 214px;
  height: 29px;

  @include media-1996 {
    width: apxm(214px);
    height: apxm(29px);
  }
}

.phone {
  bottom: -160px;
  left: 540px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 11px;

  @include media-1996 {
    width: apxm(120px);
    gap: apxm(11px);
    bottom: apxm(-160px);
    left: apxm(640px);
  }
}

.phoneImage {
  width: 63px;
  height: 134px;

  @include media-1996 {
    width: apxm(63px);
    height: apxm(134px);
  }
}

.link {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: $text-color-secondary;

  @include media-1996 {
    font-size: apxm(14px);
  }
}
