@use '@/styles/variables.scss' as *;

.link {
  position: relative;
  margin: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: .4s opacity ease-in;

  &:hover {
    opacity: 0.7;
  }

  &:first-of-type .img {
    width: 33px;
    height: 25px;

    @include media-1996 {
      width: apxm(33px);
      height: apxm(25px);
    }

    @include media-1280 {
      width: apxm(33px);
      height: apxm(25px);
    }

    @include media-375 {
      width: apxm(33.18px);
      height: apxm(24.88px);
    }
  }
}

.img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;

  @include media-1996 {
    width: apxm(32px);
    height: apxm(32px);
  }

  @include media-1280 {
    width: apxm(32px);
    height: apxm(32px);
  }

  @include media-375 {
    width: apxm(32px);
    height: apxm(32px);
  }
}
