@use '@/styles/variables.scss' as *;

.videoContainer {
  width: 1996px;
  height: 1025px;

  @include media-1996 {
    width: apxm(1996px);
    height: apxm(1025px);
  }

  @include media-375 {
    margin-top: apxm(830px);
    width: apxm(375px);
    height: apxm(197px);
  }
}

.video {
  height: 1025px;

  @include media-1996 {
    height: apxm(1025px);
  }

  @include media-375 {
    height: apxm(197px);
  }
}
