@use '@/styles/mixins.scss' as *;

.vertical {
  position: absolute;
  width: 1996px;

  @include media-1996 {
    width: apxm(1996px);
  }

}

.container {
  position: relative;
  display: flex;
  width: 100%;
  gap: 370px;
  justify-content: center;
  align-items: center;

  @include media-1996 {
    gap: apxm(370px);
  }

  @include media-1280 {
    gap: apxm(462px);
  }

  @include media-375 {
    display: flex;
    flex-direction: column;
    gap: apxm(94px);
    align-items: flex-start;
  }

  & .imgContainer:nth-child(1) {
    position: relative;
    top: -2030px;

    @include media-1996 {
      top: apxm(-2030px);
    }

    @include media-1280 {
      top: apxm(159px);
    }

    @include media-375 {
      top: apxm(22px);
      gap: apxm(238px);
      left: apxm(24.5px);

      & .image:nth-child(2) {
        transform: scaleX(-1);
      }
    }
  }

  & .imgContainer:nth-child(2) {
    position: relative;
    top: -1620px;

    @include media-1996 {
      top: apxm(-1620px);
    }

    @include media-1280 {
      top: apxm(385px);
    }

    @include media-375 {
      transform: scaleX(-1);
      top: 0;
      left: apxm(24.5px);
    }
  }
}

.imgContainer {
  width: 325px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 5;

  @include media-1996 {
    width: apxm(325px);
  }

  @include media-1280 {
    width: apxm(179px);
  }

  @include media-375 {
    width: apxm(163px);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

  @include media-1280 {
    display: none;
  }

  @include media-375 {
    display: block;
  }
}

.imageSecond {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: none;

  @include media-1280 {
    display: block;
  }

  @include media-375 {
    display: none;
  }
}
