@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.collection {
  padding-top: 197px;
  padding-bottom: 217px;
  width: 1996px;
  display: flex;
  justify-content: center;

  @include media-1996 {
    width: apxm(1996px);
    padding-top: apxm(197px);
    padding-bottom: apxm(217px);
  }
}

.container {
  position: relative;
  width: 1084px;
  display: flex;

  @include media-1996 {
    width: apxm(1084px);
  }
}

.background {
  width: 645px;
  height: 600px;
  position: absolute;
  top: 29px;
  left: 282px;

  @include media-1996 {
    width: apxm(645px);
    height: apxm(600px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 33px;

  @include media-1996 {
    gap: apxm(33px);
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 11px;

  @include media-1996 {
    gap: apxm(11px);
  }
}

.title {
  margin-left: 111px;

  @include title;

  @include media-1996 {
    margin-left: apxm(111px);
  }
}

.buttonContainer {
  margin-left: 112px;
  display: flex;
  gap: 15px;

  @include media-1996 {
    margin-left: apxm(112px);
    gap: apxm(15px);
  }
}

.slider {
  position: relative;
  left: -104px;
  display: flex;
  align-items: center;
  gap: 23px;

  @include media-1996 {
    gap: apxm(23px);
    left: apxm(-104px);
  }

  img:first-of-type {
    width: 357px;
    height: 477px;

    @include media-1996 {
      width: apxm(357px);
      height: apxm(477px);
    }
  }

  img:last-of-type {
    margin-top: 17px;
    width: 262px;
    height: 349px;

    @include media-1996 {
      width: apxm(262px);
      height: apxm(349px);
      margin-top: apxm(17px);
    }
  }
}

.nextLook {
  margin-left: 108px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 52px;

  @include media-1996 {
    margin-left: apxm(108px);
    gap: apxm(52px);
  }

  p {
    font-family: $font-family-primary;
    color: $text-color-primary;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
}

.arrow {
  width: 214px;
  height: 29px;

  @include media-1996 {
    width: apxm(214px);
    height: apxm(29px);
  }
}

.description {
  margin-left: 7px;
  margin-top: 448px;
  width: 324px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;

  @include media-1996 {
    margin-left: apxm(7px);
    margin-top: apxm(448px);
    gap: apxm(30px);
    width: apxm(324px);
  }
}

.text {
  font-family: $font-family-secondary;
  color: $text-color-primary;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;

  @include media-1996 {
    font-size: apxm(12px);
    line-height: apxm(20px);
  }
}

.link {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $text-color-secondary;

  @include media-1996 {
    font-size: apxm(17px);
    line-height: apxm(22px);
  }
}

.cap {
  position: absolute;
  width: 175px;
  height: 247px;
  top: 458px;
  left: 434px;
  z-index: 3;

  @include media-1996 {
    width: apxm(175px);
    height: apxm(247px);
    top: apxm(458px);
    left: apxm(434px);
  }
}

.jacket {
  position: absolute;
  width: 158px;
  height: 223px;
  right: 110px;
  top: 118px;
  z-index: 2;

  @include media-1996 {
    width: apxm(158px);
    height: apxm(223px);
    right: apxm(110px);
    top: apxm(118px);
  }
}
